@inherits LayoutComponentBase
@using Radzen
@using Radzen.Blazor
@using System.Text.Json
@inject NavigationManager Navigation

<RadzenDialog />
<RadzenNotification />
<RadzenTooltip />
<RadzenContextMenu />


<RadzenLayout Style="grid-template-columns: auto 1fr auto; grid-template-areas: 'rz-header rz-header rz-header' 'rz-sidebar rz-body rz-right-sidebar'">
	<RadzenHeader>
		<RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
			<RadzenRow class="w-100">
				<RadzenColumn Size="6">
					<div class="d-flex align-items-center">
						<RadzenSidebarToggle Click="@(() => sidebar5Expanded = !sidebar5Expanded)" />
						<RadzenLabel Text="Radzen 4.13.2">
						</RadzenLabel>
					</div>
				</RadzenColumn>
				<RadzenColumn Size="6">
					<div class="rz-text-align-right">
						<RadzenSidebarToggle Click="@(() => sidebar6Expanded = !sidebar6Expanded)" />
					</div>
				</RadzenColumn>
			</RadzenRow>

		</RadzenStack>
	</RadzenHeader>
	<RadzenSidebar @bind-Expanded="@sidebar5Expanded">
		<RadzenPanelMenu>
			<RadzenPanelMenuItem Text="Home" Icon="home" Path="" />
			<RadzenPanelMenuItem Text="Counter" Icon="count" Path="counter" />
			<RadzenPanelMenuItem Text="Fetch" Icon="fetch" Path="fetchdata" />
		</RadzenPanelMenu>
		<div class="rz-p-4">
			Left Sidebar
		</div>
	</RadzenSidebar>
	<RadzenBody>
		<ChildContent>
			<RadzenContentContainer Name="main">
				@Body
			</RadzenContentContainer>
		</ChildContent>
	</RadzenBody>
	<RadzenSidebar @bind-Expanded="@sidebar6Expanded" Style="width: 300px; grid-area: rz-right-sidebar">
		<div class="rz-p-4">
			Right Sidebar
		</div>
	</RadzenSidebar>
</RadzenLayout>

@code {
	bool sidebar5Expanded = true;
	bool sidebar6Expanded = true;
}
